name: KTB FE CI

# 워크플로우가 트리거될 이벤트를 정의합니다.
on:
  # 'main' 브랜치에 push 이벤트가 발생했을 때 워크플로우를 실행합니다.
  push:
    branches: [ main ]
  # 'main' 브랜치를 대상으로 하는 pull request 이벤트가 발생했을 때 워크플로우를 실행합니다.
  pull_request:
    branches: [ main ]

# 워크플로우 실행은 하나 이상의 잡(job)으로 구성됩니다.
jobs:
  # 'build'라는 이름의 잡을 정의합니다.
  build:
    # 잡이 실행될 가상 환경을 지정합니다. 최신 Ubuntu 버전을 사용합니다.
    runs-on: ubuntu-latest

    strategy:
      # 여러 버전의 Node.js에서 테스트하기 위한 매트릭스 전략을 사용합니다.
      matrix:
        node-version: [18.x, 20.x]

    steps:
    # 1. 저장소의 코드를 가상 환경으로 체크아웃합니다.
    - name: Checkout repository
      uses: actions/checkout@v4

    # 2. 지정된 버전의 Node.js를 설정하고, SRC 폴더의 package-lock.json을 캐시 의존성 경로로 지정합니다.
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: SRC/package-lock.json

    # 3. 프로젝트 의존성을 설치합니다.
    - name: Install dependencies
      working-directory: ./SRC
      run: npm install

    # 4. (선택 사항) 프로젝트를 빌드합니다. `package.json`에 'build' 스크립트가 있는 경우에만 실행됩니다.
    - name: Build project
      working-directory: ./SRC
      run: npm run build --if-present

    # 5. (선택 사항) 테스트를 실행합니다. 'test' 스크립트가 있다면 주석을 해제하여 사용하세요.
    # - name: Run tests
    #   run: npm test
    #   working-directory: ./SRC